<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.googleAdSensePubID }}" crossorigin="anonymous"></script>

<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e8ec789b9118e14b04c808cabdd64d45";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- 百度联盟验证 -->
<meta name="baidu_union_verify" content="c7ca57fa644471b7f02cac8ab5dfd570">

{{- /* Custom CSS */ -}}
<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">

{{- /* Article Schema */ -}}
{{- if .IsPage }}
{{- partial "schema_article.html" . }}
{{- end }}
